%h1 Demo#index
%p INDEX

= link_to( 'hello page 2', {:controller => 'demo', :action =>'hello'})

= link_to( 'hello page 3', {:controller => 'demo', :action =>'hello', :id => 1, :some => 'value', :other => 'newvalue'})
